@font-face {
    font-family: 'Lobster', cursive;
    src: url('./Lobster-Regular.ttf') format('ttf'),
      url('./EastSeaDokdo-Regular.ttf') format('ttf');
    
  }

.hello {
    color: red;
    background: url('./suculentas.jpg');
    font-family: 'Lobster', cursive;
    width: 100%;
    height: 100%;
  }